configuration {
 modi: "window,drun,ssh,combi";
 font: "JetBrains Mono NL Nerd Font 10";
 combi-modi: "window,drun,ssh";
 show: "combi";
 icon-theme: "Papirus";
 show-icons: true;
}
@theme "Arc-Dark"
